.git
.github
.turbo
node_modules
**/node_modules
**/.turbo
**/dist
**/build
**/.expo
**/.next
**/coverage
apps/mobile/android/.gradle
apps/mobile/android/app/build
apps/mobile/ios/build
pnpm-debug.log*
npm-debug.log*
yarn-debug.log*
.DS_Store
